      body {
        min-height: 100vh;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.42em;
        color:#A7A1AE;
        background-color:#0c0f15;
				margin: 3px;
      }